body {
    text-align: center;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
}

.line {
    height: 6px;
    background-color: black;
    width: 150px;
    margin: 8px auto;

}

.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}

.links {
    float: left;
    color: fuchsia;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 15px
}

.links:hover {
    background-color: aqua;
}

html {
    scroll-behavior: smooth;
}
